ul.multivaluefieldlist { margin: 0px; padding: 0px;}
.multivaluefieldlist > li { margin-bottom: 4px; min-width: 250px; list-style-type: none; }
.multivaluefieldlist > li::after { content: '↕'; cursor: pointer; }
.multivaluefieldlist > li:last-child { margin-bottom: 0; }
.mventryfield { max-width: 200px !important; display: inline; }
/*.mventryfield:not(.has-chzn) { display: inline !important; }*/

textarea.mventryfield { max-width: none !important; vertical-align: top; }
